
/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/*Root for change the base color*/
:root {
  --main-color: #f0ecec;
  --swiper-theme-color:orange;
  --swiper-pagination-size: 104px;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,15px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,15px));
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 90%;
  left: 0;
  width: 100%;
}

/*Defolt settings , fonts , size and e.t.c. before work*/
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font: 500 16px/26px 'Montserrat', sans-serif;
}

input,
textarea {
  background-color: inherit;
}

a {
  text-decoration: none;
  color: #4A4A4A
}

h1,
.title1 {
  font-weight: 700;
  font-size: 66px;
  line-height: 78px;
  letter-spacing: 3.2px;
  color: #F5F5F5;
}

h2,
.title2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #333333;
}

h3,
.title3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 67px;
  letter-spacing: 1px;
}

h4,
.title4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #4A4A4A;
}

h5,
.title5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

h6,
.title6 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4A4A4A;
}

.btn {
  display: inline-block;
  min-width: 365px;
  min-height: 65px;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px;
  transition: none;
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  border-radius: 10px;
}
.btn:hover , .btn:active {
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
}

.header {
  padding: 23px 0;
  background-color: var(--main-color);
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
}
.header__item + .header__item {
  margin-left: 32px;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.header__link:hover {
  color: #E97522;
}

.header__contact {
  display: flex;
  align-items: center;
}
.header__back-call {
  border: 2px solid #E97522;
  color: #E97522;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  padding: 8px 25px;
  border-radius: 10px;
  margin-right: 22px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s linear;
}
.header__back-call:hover {
  background: #E97522;
  color: #fff;
}
/*HOME*/
.home {
  position: relative;
  padding: 150px 0 140px 0;
  background-color: #444444;
  color: #F5F5F5;
}

.home__title {
  margin-bottom: 52px;
}
.home__subtitle {
  max-width: 50%;
  margin-bottom: 25px;
  color: #F5F5F5;
}

.home__text + .home__text {
  margin-bottom: 32px;
}

.home__block {
  z-index: 1;
  position: relative;
}
.home__triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 0; 
  height: 0;
  border-top: 90px solid transparent;
  border-left: 180px solid #575757;
  border-bottom: 90px solid transparent;
}
/*PLACE*/
.place {
  background-color: var(--main-color);
  position: relative;
  text-align: center;
  padding: 120px 0 80px 0;
}
.place__title {
  margin-bottom: 115px;
}
.place .swiper {
  margin-bottom: 60px;
}
.line {
  position: absolute;
  top: 0;
  left: 0;
}
/*STUDIO*/
.studio {
  background-color: var(--main-color);
  padding: 60px 0;
  text-align: center;
}
.studio__title {
  margin-bottom: 60px;
}
.studio__triangle {
  position: relative;
  background-color: #999999;
  height: 675px;
  width: 100%;
}
.studio__triangle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 0; 
  height: 0;
  border-top: 90px solid transparent;
  border-left: 180px solid #D8D8D8;;
  border-bottom: 90px solid transparent;
}

  /*GALLERY*/
.gallery {
  background-color: var(--main-color);
  padding: 60px 0 80px 0;
  text-align: center
}

.gallery__title {
  margin-bottom: 80px;
}

.gallery .gallery__body {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: auto;
  gap: 30px;
}
  
.gallery .gallery__body .gallery__card {
  position: relative;
  cursor: pointer;
}
.gallery .gallery__body .gallery__card:hover {
  transform: scale(1.1);
}

.gallery__img {
  border-radius: 15px;
}
.gallery .gallery__body .gallery__card .gallery__name {
  position: absolute;
  bottom: 5px;
  left: 15px;
  color: #fff;
}

.gallery__card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.gallery__card-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.gallery__card-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.gallery__card-4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.gallery__card-5 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.gallery__card-6 {
  grid-column: 1/2;
  grid-row: 3/5;
}
.gallery__card-7 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.gallery__card-8 {
  grid-column: 2/4;
  grid-row: 4/5;
}
.gallery__card-9 {
  grid-column: 1/2;
  grid-row: 5/6;
}
.gallery__card-10 {
  grid-column: 2/3;
  grid-row: 5/6;
}
.gallery__card-11 {
  grid-column: 3/4;
  grid-row: 5/6;
}

/*STEPS*/
.steps {
  padding: 80px 0 170px 0;
  text-align: center;
}
.steps__title {
  margin-bottom: 100px;
}
.steps__wrap {
  position: relative;
  counter-reset: item;
}
li:before {
  position: absolute;
  content: counter(item);
  counter-increment: item;
  bottom: -20px;
  left: -20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #E97522;
  padding: 10px 20px;
  background-color: #F9F4EE;
  border-radius: 50%;
}
.steps__line {
  position: relative;
  top: 50%;
}
.steps__card {
  background-color: #ffffff;
  position: absolute;
  width: 350px;
  max-height: 190px;
  padding: 40px 40px 50px 40px;
  border: 2px solid #E97522;
  box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12), 0px 11px 15px rgba(221, 221, 221, 0.2);
  border-radius: 12px;
}
.steps__subtitle {
  margin-bottom: 10px;
}
.steps__card1 {
  top: -10%;
  left: 0%;
}
.steps__card2 {
  top: -0;
  left: 50%;
}
.steps__card3 {
  top: 45%;
  left: 65%;
}
.steps__card4 {
  top: 35%;
  left: 10%;
}
.steps__card5 {
  top: 85%;
  left: 40%;
}

.photostudio {
  background-color: #F2F4F4;
  padding: 60px 0 40px 0;
}
.photostudio__subtitle {
  list-style-type: disc;
}

.photostudio__title {
  text-align: center;
}
.photostudio__text {
  margin-bottom: 30px;
}
.photostudio__item {
  cursor: pointer;
  margin: 30px;
}
.photostudio__item:hover {
  text-decoration: underline;
}
.photostudio__more {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 16px;
  color: #E97522;
}
.photostudio__more:hover{
  color: #ffa600;
}
.fa-angle-down {
  margin-left: 15px;
  font-size: 25px;
}