
/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video, main{display:block}mark,rp,rt,ruby,summary,time{display:inline}

/*Root for change the base color*/
:root {
  --main__color-black: #ffffff;
}

/*Defolt settings , fonts , size and e.t.c. before work*/
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font: 400 18px/21px 'Montserrat', sans-serif;
}

input,
textarea {
  background-color: inherit;
}

a {
  text-decoration: none;
}

h1,
.title1 {
  font-size: 0px;
  line-height: 0px;
  font-weight: 0;
}

h2,
.title2 {
  text-transform: none;
  font-size: 0px;
  line-height: 0px;
  font-weight: 0;
}

h3,
.title3 {
  font-family: none;
  font-size: 0px;
  line-height: 0px;
  font-weight: 0;
}

h4,
.title4 {
  font-family: none;
  font-size: 0px;
  line-height: 0px;
  font-weight: 0;
}

h5,
.title5 {
  font-size: 0px;
  line-height: 0px;
  font-weight: 0;
}

h6,
.title6 {
  font-family: none;
  font-size: 0px;
  line-height: 0px;
  font-weight: 0;
}

.btn {
  display: inline-block;
  min-width: 0px;
  min-height: 0px;
  outline: none;
  background-color: transparent;
  font-size: 0px;
  line-height: 0px;
  font-weight: 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: none;
}



  /*GALLERY*/
.gallery {
  background-color: #dfdfdf;
}
  
.gallery .gallery__body {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: auto;
  gap: 30px;
}
  
.gallery .gallery__body .gallery__card {
  position: relative;
}
.gallery__img {
  border-radius: 15px;
}
.gallery .gallery__body .gallery__card .gallery__name {
  position: absolute;
  bottom: 5px;
  left: 15px;
  color: #fff;
}

.gallery__card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.gallery__card-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.gallery__card-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.gallery__card-4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.gallery__card-5 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.gallery__card-6 {
  grid-column: 1/2;
  grid-row: 3/5;
}
.gallery__card-7 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.gallery__card-8 {
  grid-column: 2/4;
  grid-row: 4/5;
}
.gallery__card-9 {
  grid-column: 1/2;
  grid-row: 5/6;
}
.gallery__card-10 {
  grid-column: 2/3;
  grid-row: 5/6;
}
.gallery__card-11 {
  grid-column: 3/4;
  grid-row: 5/6;
}